  .loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
  }
  .loader:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  .circular {
    animation: rotate 1s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 0.6s ease-in-out infinite;
    stroke-linecap: round;
    stroke: var(--site-color-light);
    stroke-width: 4px;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      stroke: var(--site-color-light);
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
      stroke: var(--color1);
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
      stroke: var(--site-color-light);
    }
  }
  @keyframes white_dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      stroke: #ffffff;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
      stroke: #ffffff;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
      stroke: #ffffff;
    }
  }