

@media screen and (max-width: 700px) {
    .menu_comment_contents {
        padding: 10px !important;
    }
}

.menu_comment_contents {
    width: 100%; height: max-content;
    max-width: 1200px; margin-left: auto;
    margin-right: auto; padding: 20px;
    box-sizing: border-box;
}