

@media screen and (max-width: 700px) {
    .menu_my_account_personal_info {
        padding: 10px !important;
    }
    .menu_my_account_personal_info_box_wrap {
        flex-direction: column;
    }
    .menu_my_account_personal_info_box {
        width: 100% !important;
    }
}

.menu_my_account_personal_info {
    width: 100%; height: max-content;
    max-width: 900px; margin-left: auto;
    margin-right: auto; padding: 20px;
    box-sizing: border-box;
}
.menu_my_account_personal_info_top {
    width: 100%; height: max-content;
    padding: 40px 0px; box-sizing: border-box;
    padding-bottom: 0px;
}
.menu_my_account_personal_info_top_title {
    width: 100%; height: max-content;
    text-align: center; font-size: 24px;
    color: var(--color1); font-weight: bold;
    line-height: calc(24px * 1.5);
}
.menu_my_account_personal_info_top_description {
    width: 100%; height: max-content;
    text-align: center; font-size: 14px;
    color: var(--color6); margin-top: 5px;
    line-height: calc(14px * 1.5);
}

.menu_my_account_personal_info_line {
    width: 100%; height: 1px;
    background-color: var(--border-color);
    margin: 40px 0px;
}

.menu_my_account_personal_info_top {
    width: 100%; height: max-content;
}
.menu_my_account_personal_info_top_title {
    width: 100%; height: max-content;
    font-size: 24px; color: var(--color1);
    line-height: calc(24px * 1.5);
}
.menu_my_account_personal_info_top_description {
    width: 100%; height: max-content;
    font-size: 14px; color: var(--color6);
    line-height: calc(14px * 1.5);
    margin-top: 5px;
}
.menu_my_account_personal_info_box_wrap {
    width: 100%; height: max-content;
    display: flex; flex-wrap: wrap; gap: 20px;
}
.menu_my_account_personal_info_box {
    width: calc(50% - 10px); height: auto;
    padding: 20px; box-sizing: border-box;
    background-color: var(--hover-color);
    border-radius: 20px;
}
.menu_my_account_personal_info_box_title {
    width: 100%; height: max-content;
    font-size: 15px; color: var(--color1);
    display: flex; align-items: center;
    font-weight: bold;
}
.menu_my_account_personal_info_box_title svg {
    width: 20px; height: 20px;
    fill: var(--color1); margin-right: 15px;
}
.menu_my_account_personal_info_box_description {
    width: 100%; height: max-content;
    font-size: 13px; color: var(--color6);
    margin-top: 5px;
}
.menu_my_account_personal_info_box_line {
    width: 100%; height: 1px;
    background-color: var(--border-color);
}
.menu_my_account_personal_info_box_items {
    width: 100%; height: max-content;
    margin-top: 12.5px;
}
.menu_my_account_personal_info_box_item {
    width: calc(100% + 40px); height: max-content;
    padding: 15px 20px; box-sizing: border-box;
    display: flex; align-items: center;
    margin-left: -20px; cursor: pointer;
    transition: all 0.1s;
}
.menu_my_account_personal_info_box_item:hover {
    background-color: var(--border-color);
}
.menu_my_account_personal_info_box_item:hover .menu_my_account_personal_info_box_item_icon {
    background-color: var(--hover-color);
}
.menu_my_account_personal_info_box_item_icon {
    width: 40px; height: 40px;
    background-color: var(--border-color);
    display: flex; justify-content: center;
    align-items: center; border-radius: 50%;
    margin-right: 20px; transition: all 0.1s;
}
.menu_my_account_personal_info_box_item_icon svg {
    width: 20px; height: 20px;
    fill: var(--color1);
}
.menu_my_account_personal_info_box_item_center {
    width: calc(100% - 95px); height: max-content;
}
.menu_my_account_personal_info_box_item_center[profile = "true"] {
    width: calc(100% - 145px);
}
.menu_my_account_personal_info_box_item_center_title {
    width: 100%; height: max-content;
    font-size: 14px; color: var(--color1);
    font-weight: bold;
}
.menu_my_account_personal_info_box_item_center_value {
    width: 100%; height: max-content;
    font-size: 12px; color: var(--color6);
    line-height: calc(12px * 1.5); margin-top: 3px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.menu_my_account_personal_info_box_item_right {
    width: 15px; height: 15px;
    margin-left: 20px;
}
.menu_my_account_personal_info_box_item_right svg {
    width: 15px; height: 15px;
    fill: var(--color1);
}

.menu_my_account_personal_info_box_item_profile {
    width: 30px; height: 30px;
    margin-left: 20px;
}
.menu_my_account_personal_info_box_item .my_profile {
    width: 30px; height: 30px;
}