

.popup_bank_remittance_details {
    width: 100%; height: max-content;
    padding: 30px; box-sizing: border-box;
    max-width: 500px;
}

.popup_bank_remittance_details_items {
    width: 100%; height: max-content;
}
.popup_bank_remittance_details_item {
    width: 100%; height: max-content;
}
.popup_bank_remittance_details_item:not(:first-child) {
    margin-top: 30px;
}
.popup_bank_remittance_details_item_title {
    width: 100%; height: max-content;
    font-size: 14px; color: var(--color6);
    font-weight: bold;
}
.popup_bank_remittance_details_item_input {
    width: 100%; height: max-content;
}
.popup_bank_remittance_details_item_input input {
    width: 100%; height: max-content;
    border: none; outline: none;
    background-color: transparent;
    font-size: 14px; color: var(--color1);
    border-bottom: solid 1px var(--border-color);
    padding: 8px 0px; box-sizing: border-box;
    line-height: calc(14px * 1.5);
}
.popup_bank_remittance_details_item_input input::placeholder {
    text-transform: none;
}
.popup_bank_remittance_details_item_input_line_wrap {
    width: 0%; height: 2px; transition: width 0.2s;
    background-color: var(--box-color-reversal);
    margin-left: auto; margin-right: auto;
    opacity: 0; margin-top: -1px; z-index: 1;
    position: relative;
}
.popup_bank_remittance_details_item_input_line_focus .popup_bank_remittance_details_item_input_line_wrap {
    width: 100%; opacity: 1;
}




.popup_bank_remittance_details_item_select {
    width: 100%; height: max-content;
    border: solid 1px var(--border-color);
    margin-top: 10px; padding: 12px 20px;
    font-size: 15px; color: var(--color1);
    transition: all 0.1s; border-radius: 50px;
    box-sizing: border-box; cursor: pointer;
    display: flex; align-items: center;
}
.popup_bank_remittance_details_item_select:hover {
    border-color: var(--color9);
    background-color: var(--hover-color);
}
.popup_bank_remittance_details_item_select:hover .popup_bank_remittance_details_item_select_icon svg {
    fill: var(--color3);
}
.popup_bank_remittance_details_item_select_title {
    width: calc(100% - 40px); height: max-content;
    color: var(--color1);
}
.popup_bank_remittance_details_item_select_icon {
    width: 40px; height: max-content;
    display: flex; align-items: center;
    transition: all 0.2s;
}
.popup_bank_remittance_details_item_select_icon svg {
    width: 25px; height: 25px;
    fill: var(--color9); margin-left: auto;
}




.popup_bank_remittance_details_description {
    width: 100%; height: max-content;
    font-size: 13px; color: var(--color1);
    display: flex; margin: 50px 0px;
    line-height: calc(13px * 1.5);
}
.popup_bank_remittance_details_description svg {
    width: 15px; height: 15px;
    fill: var(--color1); margin-right: 10px;
    margin-top: 1px;
}

.popup_bank_remittance_details_button {
    width: 100%; height: max-content;
    padding: 15px 20px; box-sizing: border-box;
    background: var(--hover-color);
    border-radius: 50px; font-size: 14px;
    color: var(--color1); cursor: pointer;
    display: flex; align-items: center;
    transition: all 0.1s; justify-content: center;
}
.popup_bank_remittance_details_button svg {
    width: 20px; height: 20px;
    fill: var(--color1); margin-right: 15px;
    min-width: 20px;
}
.popup_bank_remittance_details_button:hover {
    background-color: var(--border-color);
}

.popup_bank_remittance_details_button_disabled {
    opacity: 0.5; pointer-events: none;
}