

.popup_work_report {
    width: 100%; height: max-content;
    max-width: 500px; padding: 30px;
    box-sizing: border-box;
}
.popup_work_report_title {
    width: 100%; height: max-content;
    font-size: 15px; color: var(--color1);
    font-weight: bold;
}
.popup_work_report_description {
    width: 100%; height: max-content;
    font-size: 13px; color: var(--color6);
    margin-top: 10px; line-height: calc(13px * 1.5);
}

.popup_work_report_items {
    width: 100%; height: max-content;
}
.popup_work_report_item {
    width: 100%; height: max-content;
    display: flex; align-items: center;
    transition: all 0.1s; cursor: pointer;
    border-radius: 10px; padding: 10px;
    margin-left: -10px;
}
.popup_work_report_item:not(:first-child) {
    margin-top: 10px;
}
.popup_work_report_item_left {
    width: 18px; height: 18px;
    border: solid 3px var(--color1);
    margin-right: 20px; border-radius: 50%;
    display: flex; justify-content: center;
    align-items: center;

    transition: all 0.2s;
}
.popup_work_report_item_left_in {
    width: 13px; height: 13px;
    transform: scale(0); transition: all 0.2s;
    background-color: var(--color1);
    border-radius: 50%;
}
.popup_work_report_item_right {
    width: calc(100% - 44px); height: max-content;
}
.popup_work_report_item_right_title {
    width: 100%; height: max-content;
    font-size: 14px; color: var(--color1);
    font-weight: bold;
}
.popup_work_report_item_right_description {
    width: 100%; height: max-content;
    font-size: 12px; color: var(--color6);
    margin-top: 3px; line-height: calc(12px * 1.5);
}

.popup_work_report_item:hover .popup_work_report_item_left_in {
    transform: scale(0.6); background-color: var(--color6);
}


.popup_work_report_item_checked .popup_work_report_item_left {
    border-color: var(--site-color-light);
}
.popup_work_report_item_checked .popup_work_report_item_left_in {
    transform: scale(1) !important;
    background-color: var(--site-color-light) !important;
}

.popup_work_report_line {
    width: 100%; height: 1px;
    background-color: var(--border-color);
    margin: 30px 0px;
}

.popup_work_report_bottom {
    width: 100%; height: max-content;
    margin-top: 30px;
}
.popup_work_report_bottom_button_description {
    width: 100%; height: max-content;
    font-size: 11px; color: var(--color6);
    font-style: italic; margin-bottom: 15px;
    line-height: calc(11px * 1.5);
}
.popup_work_report_bottom_button {
    width: 100%; height: max-content;
    padding: 15px 20px; box-sizing: border-box;
    background: var(--hover-color); border-radius: 50px;
    font-size: 14px; color: var(--color1); cursor: pointer;
    display: flex; align-items: center; transition: all 0.1s;
    justify-content: center;
}
.popup_work_report_bottom_button:hover {
    background-color: var(--border-color);
}
.popup_work_report_bottom_button svg {
    width: 20px; height: 20px;
    fill: var(--color1); margin-right: 15px;
    min-width: 20px;
}






.popup_work_report_info {
    width: 100%; height: max-content;
    display: flex;
}
.popup_work_report_info_left {
    width: 70px; height: 105px;
    border-radius: 10px; overflow: hidden;
    margin-right: 20px;
}
.popup_work_report_info_left img {
    width: 100%; height: 100%;
    object-fit: cover;
}
.popup_work_report_info_right {
    width: calc(100% - 90px); height: 95px;
    margin: 5px 0px; display: flex; flex-direction: column;
}
.popup_work_report_info_right_top {
    width: 100%; height: max-content;
}
.popup_work_report_info_right_bottom {
    width: 100%; height: max-content;
    margin-top: auto;
}
.popup_work_report_info_right_title {
    width: 100%; height: max-content;
    font-size: 14px; color: var(--color1);
    font-weight: bold;
}
.popup_work_report_info_right_work_title {
    width: 100%; height: max-content;
    font-size: 13px; color: var(--color4);
    margin-top: 3px;

    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.popup_work_report_info_right_work_description {
    width: 100%; height: max-content;
    font-size: 12px; color: var(--color6);
    margin-top: 10px; line-height: calc(12px * 1.5);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}