<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <requestLimits maxAllowedContentLength="4294967295" maxUrl="204800" maxQueryString="32768" />
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="menu_work" stopProcessing="true">
                    <match url="^work/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_cloud">
                    <match url="^cloud" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_novel_editor">
                    <match url="^novel_editor/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_dashboard">
                    <match url="^workspace/dashboard" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_my_works">
                    <match url="^workspace/my_works" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_analysis">
                    <match url="^workspace/analysis" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_monetization">
                    <match url="^workspace/monetization" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_copyright">
                    <match url="^workspace/copyright" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_my_page_settings">
                    <match url="^workspace/my_page_settings" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_work_details">
                    <match url="^workspace/work/details/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_work_part_list">
                    <match url="^workspace/work/part_list/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_login">
                    <match url="^login" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_other_account">
                    <match url="^other_account/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_signup">
                    <match url="^signup" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_find_password">
                    <match url="^find_password" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_novel_viewer">
                    <match url="^novel/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_work_comments">
                    <match url="^workspace/work/comments/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_image_format_editor">
                    <match url="^image_format_editor/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_image_format_viewer">
                    <match url="^image_format/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_community">
                    <match url="^community/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_community">
                    <match url="^workspace/work/community/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_my_work_list">
                    <match url="^my_work_list" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_work_list">
                    <match url="^work_list/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_history">
                    <match url="^history" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_search">
                    <match url="^search/(.*)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_library">
                    <match url="^library" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_user">
                    <match url="^user/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_my_user_list">
                    <match url="^my_user_list" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_localization">
                    <match url="^workspace/work/localization/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_part_details">
                    <match url="^workspace/part/details/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_part_comments">
                    <match url="^workspace/part/comments/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_part_localization">
                    <match url="^workspace/part/localization/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_notifications_settings">
                    <match url="^notifications_settings" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_comment">
                    <match url="^comment/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_rating">
                    <match url="^rating/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_work_analysis">
                    <match url="^workspace/work/analysis/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_explore_trending">
                    <match url="^explore/trending" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_explore_fantasy">
                    <match url="^explore/fantasy" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_explore">
                    <match url="^explore" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_community_guide">
                    <match url="^community_guide" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_creator_guide">
                    <match url="^creator_guide" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_preview_premium_profile">
                    <match url="^preview_premium_profile" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_admin_dashboard">
                    <match url="^admin/dashboard" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_admin_questions">
                    <match url="^admin/questions" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_privacy_policy">
                    <match url="^privacy_policy" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_reviewed_questions">
                    <match url="^reviewed_questions/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_admin_user_report">
                    <match url="^admin/user_report" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_admin_work_report">
                    <match url="^admin/work_report" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_admin_monetization_approval">
                    <match url="^admin/monetization_approval" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_partner">
                    <match url="^workspace/partner" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_admin_partner_approval">
                    <match url="^admin/partner_approval" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_workspace_part_user_translation">
                    <match url="^workspace/part/user_translation/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_withdrawal">
                    <match url="^withdrawal" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_payment_history">
                    <match url="^payment_history/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_video">
                    <match url="^video/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_embed">
                    <match url="^embed/([0-9]+)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_my_account_management">
                    <match url="^my_account/management" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_my_account_personal_info">
                    <match url="^my_account/personal_info" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_my_account_details">
                    <match url="^my_account/details/(.*)" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_my_account_session_list">
                    <match url="^my_account/session_list" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_my_account_two_factor_auth">
                    <match url="^my_account/two_factor_auth" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_my_account_privacy">
                    <match url="^my_account/privacy" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_my_account_security">
                    <match url="^my_account/security" />
                    <action type="Rewrite" url="?" />
                </rule>
                <rule name="menu_write_questions">
                    <match url="^write_questions" />
                    <action type="Rewrite" url="?" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin" />
                <remove name="alt-svc" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
